# Project exclude paths
/.gradle/
/File Server/task/build/
/File Server/task/out/
/File Server/task/out/production/classes/
/Topics/The Set interface/Symmetric difference/out/
/Topics/The Set interface/Symmetric difference/out/production/classes/